<div fxLayout="column" fxLayoutGap="30">
  <div class="tw-mb-3" fxLayout="row" fxLayoutAlign="space-between center">
    <h5><i class="tw-text-sm pi pi-heart tw-mr-2"></i>Favorites</h5>
    <button class="link-btn">Edit</button>
  </div>
  <div class="tw-grid tw-gap-6 tw-grid-cols-2 tw-h-96">
    <div class="tw-w-full tw-h-full tw-rounded-2xl dark:tw-bg-zinc-800 tw-bg-zinc-100 tw-p-3">test</div>
    <div class="tw-w-full tw-h-full tw-rounded-2xl dark:tw-bg-zinc-800 tw-bg-zinc-100 tw-p-3">test</div>
    <div class="tw-w-full tw-h-full tw-rounded-2xl dark:tw-bg-zinc-800 tw-bg-zinc-100 tw-p-3">test</div>
    <div class="tw-w-full tw-h-full tw-rounded-2xl dark:tw-bg-zinc-800 tw-bg-zinc-100 tw-p-3">test</div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center">
    <button class="secondary-btn" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8"><i class="pi pi-plus-circle"></i><span class="sans-sarif-txt">Add</span></button>
  </div>
</div>
