<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <label>
    First Name:
    <input type="text" formControlName="firstName">
  </label>
  <br>
  <label>
    Last Name:
    <input type="text" formControlName="lastName">
  </label>
  <br>
  <label>
    Email:
    <input type="email" formControlName="email">
  </label>
  <br>
  <label>
    Password:
    <input type="password" formControlName="password">
    <div *ngIf="password?.invalid && (password?.dirty || password?.touched)">
      <div *ngIf="password?.errors?.['required']">Password is required</div>
      <div *ngIf="password?.errors?.['minlength']">
        Password must be at least 8 characters long.
      </div>
    </div>
  </label>
  <br>
  <label>
    Home City:
    <input type="text" formControlName="homeCity">
  </label>
  <br>
  <button type="submit" [disabled]="registerForm.invalid">Register</button>
</form>