<div fxLayout="column" fxLayoutGap="30">
  <div class="tw-mb-3" fxLayout="row" fxLayoutAlign="space-between center">
    <h5><i class="pi pi-compass tw-mr-2 tw-text-sm"></i>Large cities</h5>
    <button class="link-btn">See more</button>
  </div>
  <div class="tw-grid tw-grid-cols-1 tw-gap-6 tw-h-96">
    <div class="tw-w-full tw-h-full tw-rounded-2xl dark:tw-bg-zinc-800 tw-bg-zinc-100 tw-p-3">test</div>
    <div class="tw-w-full tw-h-full tw-rounded-2xl dark:tw-bg-zinc-800 tw-bg-zinc-100 tw-p-3">test</div>
    <div class="tw-w-full tw-h-full tw-rounded-2xl dark:tw-bg-zinc-800 tw-bg-zinc-100 tw-p-3">test</div>
    <div class="tw-w-full tw-h-full tw-rounded-2xl dark:tw-bg-zinc-800 tw-bg-zinc-100 tw-p-3">test</div>
    <div class="tw-w-full tw-h-full tw-rounded-2xl dark:tw-bg-zinc-800 tw-bg-zinc-100 tw-p-3">test</div>
    <div class="tw-w-full tw-h-full tw-rounded-2xl dark:tw-bg-zinc-800 tw-bg-zinc-100 tw-p-3">test</div>
  </div>
</div>
