
<div fxLayout.gt-sm="row" fxLayout.lt-md="column" class=" tw-px-5 tw-py-3">
  <div fxFlex="50" fxLayout="column">
    <h4>Current conditions</h4>
    <div fxLayout="row" fxLayoutAlign="start center">
      <div class="tw-text-left">
        <span class="tw-text-8xl tw-font-bold tw-relative tw-flex tw-align-top">71<span class="tw-text-6xl">°</span></span>
      </div>
     <div>
      </div>
      <img class="tw-w-36" src="https://firebasestorage.googleapis.com/v0/b/weather-app-4d9b4.appspot.com/o/3d-icons%2FSunny%20%2B%20Heavy%20Rain.png?alt=media&token=93d65fb6-30d9-40e1-b701-6bb29bb1789e">
    </div>
    <p class="tw-font-bold tw-text-sm tw-text-zinc-700">Currently experiencing heavy rain</p>
  </div>
  <div fxFlex="50">test</div>
</div>

