<div class="tw-w-full">
    <div
      fxLayout="row"
      fxLayoutAlign="space-between center"
      class="tw-py-5 tw-mb-1"
    >
      <div fxLayout="column" fxFlex="20" fxLayoutGap="4" fxLayoutAlign="center start" class="tw-overflow-hidden tw-relative">
        <a
          href="/"
          fxLayout="row"
          fxLayoutAlign="center center"
          class="align-items-center text-dark text-decoration-none"
        >
          <!-- <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg> -->
          <!-- <h1>Logo</h1> -->
          <img class="tw-w-24" src="https://firebasestorage.googleapis.com/v0/b/weather-app-4d9b4.appspot.com/o/airflow_no_bg%20(2).png?alt=media&token=8633d867-67c9-47ad-80de-122080d7e3f3">
          <!-- <h1 class="brand-text">Airflo</h1> -->
        </a>
        <div class="tw-relative" fxLayout="column" fxLayoutAlign="start center">
          <div *ngIf="city && state; else loader" fxLayout="row" fxLayoutAlign="center center" class="tw-overflow-hidden hover:tw-text-blue-600 tw-transition-color">
            <!-- <ng-icon name="heroMapPinSolid"></ng-icon> -->
            <!-- <i class="pi pi-map-marker"></i> -->
            <button (click)="goToWeatherDetails(location)" type="link" class="tw-truncate tw-p-0"><span class="tw-font-bold tw-text-sm">{{city}}</span>, {{state}}</button>
          </div>
        </div>
      </div>

      <ng-template #loader>
        <div class="card tw-absolute tw-left-2 ">
          <p-progressSpinner class="tw-flex" styleClass="tw-w-4 tw-h-4 tw-bg-transparent" strokeWidth="8" fill="{{isDarkMode ? 'rgb(24 24 27)':'#ffff'}}" animationDuration=".5s"></p-progressSpinner>
        </div>
      </ng-template>
      <app-location-search [isDarkMode]="isDarkMode" fxFlex="55"></app-location-search>
      <div fxLayout="row" fxLayoutGap="15" fxFlex="15" fxLayoutAlign="end center">
        <!-- <mat-slide-toggle [checked]="isDarkMode" (change)="toggleDarkMode()">
          <mat-icon>{{ isDarkMode ? "moon" : "sun" }}</mat-icon>
        </mat-slide-toggle> -->
        <!-- <app-dark-mode-toggle></app-dark-mode-toggle> -->
        <div class="card flex justify-content-center" title="Toggle theme">
          <p-toggleButton [(ngModel)]="isDarkMode" (onChange)="toggleDarkMode()" onIcon="pi pi-moon" offIcon="pi pi-sun" [style]="{ height: '2.5rem', width: '2.5rem', borderRadius: '100px' }"></p-toggleButton>
        </div>
         
        <!-- <div class="card flex justify-content-center">
          <p-inputSwitch [(ngModel)]="isDarkMode" (onChange)="toggleDarkMode()" ></p-inputSwitch>
        </div> -->
        <div class="dropdown text-end">
          <button mat-button [matMenuTriggerFor]="menu" title="Profile">
            <p-avatar label="V" styleClass="mr-2" [style]="{ 'background-color': '#2196F3', color: '#ffffff', height: '2.5rem', width: '2.5rem' }" shape="circle"></p-avatar>
          </button>
          <mat-menu #menu="matMenu">
            <div fxLayout="row" fxLayoutAlign="start center">
              <div>
                <p-avatar label="V" styleClass="mr-2" [style]="{ 'background-color': '#2196F3', color: '#ffffff', height: '2.5rem', width: '2.5rem' }" shape="circle"></p-avatar>
              </div>
              <div>
                <span>landon.messmerjmu@gmail.com</span>
              </div>
            </div>
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
          </mat-menu>
          
          <!-- <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
          </a>
          <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item" href="#">New project...</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
          </ul> -->
        </div>
      </div>
    </div>
</div>
