<!-- <div class="tabs">
  <ul class="tab-header" fxLayout="row" fxLayoutGap="16">
    <button
      #tabTitle
      *ngFor="let tab of tabs; let i = index"
      (click)="selectTab(tab)"
      class="tw-cursor-pointer tw-rounded-lg hover:tw-bg-slate-200 hover:tw-text-zinc-950 hover:dark:tw-bg-zinc-800 hover:dark:tw-text-zinc-200 tw-transition-all tw-px-2 tw-py-2"
      [ngClass]="{
        'tw-font-bold tw-text-zinc-50 hover:tw-bg-indigo-600 dark:hover:tw-bg-indigo-600 hover:tw-text-zinc-50 tw-bg-indigo-600 dark:tw-bg-indigo-600 dark:tw-text-zinc-200 tw-shadow-indigo-200 dark:tw-shadow-indigo-950 tw-shadow-lg':
          selectedTab === tab,
        'tw-text-zinc-500': selectedTab !== tab
      }"
    >
      {{ tab.title }}
    </button>
  </ul>
  <ng-container #tabContent></ng-container>
</div> -->
<ul class="tab-header" fxLayout="row" fxLayoutGap="20">
  <button
    #tabTitle
    *ngFor="let tab of tabs; let i = index"
    (click)="setActiveTab(tab)"
    class="tw-cursor-pointer tw-font-semibold tw-rounded-lg tw-transition-all tw-px-2 tw-py-2"
    [ngClass]="{
      ' tw-text-zinc-50 hover:tw-bg-indigo-600 dark:hover:tw-bg-indigo-600 hover:tw-text-zinc-50 tw-bg-indigo-600 dark:tw-bg-indigo-600 dark:tw-text-zinc-200 tw-shadow-indigo-200 dark:tw-shadow-indigo-950 tw-shadow-lg':
        selectedTab === tab,
      'tw-text-zinc-500 hover:tw-bg-zinc-300 hover:tw-text-zinc-950 hover:dark:tw-bg-zinc-900 hover:dark:tw-text-zinc-200': selectedTab !== tab
    }"
  >
    {{ tab.title }}
  </button>
</ul>
<mat-tab-group #tabGroup [animationDuration]="150" fitInkBarToContent mat-stretch-tabs="false" mat-align-tabs="start">
  <mat-tab #tab1>
    <ng-template mat-tab-label>
    <!-- <span class="strd-tab" [ngClass]="{'active-tab': tab1.isActive}">Today</span> -->
  </ng-template>
  <div fxLayout="column" fxLayoutGap="70" class="tw-py-10">
    <app-weather-carousel></app-weather-carousel>
    <div fxLayout.gt-sm="row" fxLayout.lt-md="column" class="tw-w-full" fxLayoutGap="40" [ngClass.gt-sm]="'tw-h-80'">
    <div fxFlex="auto">
      <div class="tw-w-full tw-h-full tw-rounded-2xl dark:tw-bg-zinc-800 tw-bg-zinc-100 tw-p-3">
        test
      </div>
    </div>
      <div fxFlex.gt-sm="360px" fxFlex.lt-md="auto" [ngClass.lt-md]="'tw-h-72'">
        <div class="tw-grid  tw-gap-4 tw-h-full" [ngClass.gt-sm]="'tw-grid-cols-2'" [ngClass.lt-md]="'tw-grid-cols-4'" [ngClass.lt-sm]="'tw-grid-cols-2'" [ngClass.lt-sm]="'tw-grid-cols-2'">
          <div class="tw-w-full tw-h-full tw-rounded-2xl dark:tw-bg-zinc-800 tw-bg-zinc-100 tw-p-3">test</div>
          <div class="tw-w-full tw-h-full tw-rounded-2xl dark:tw-bg-zinc-800 tw-bg-zinc-100 tw-p-3">test</div>
          <div class="tw-w-full tw-h-full tw-rounded-2xl dark:tw-bg-zinc-800 tw-bg-zinc-100 tw-p-3">test</div>
          <div class="tw-w-full tw-h-full tw-rounded-2xl dark:tw-bg-zinc-800 tw-bg-zinc-100 tw-p-3">test</div>
        </div>
      </div>
    </div>
  </div>

</mat-tab>
  <mat-tab #tab2>
    <ng-template mat-tab-label>
      <!-- <span class="strd-tab" [ngClass]="{'active-tab': tab2.isActive}">Tomorrow</span> -->
    </ng-template>
  </mat-tab>
  <mat-tab #tab3>
    <ng-template mat-tab-label>
      <!-- <span class="strd-tab" [ngClass]="{'active-tab': tab3.isActive}">Next 7 Days</span> -->
    </ng-template>
    <app-next-seven-days></app-next-seven-days></mat-tab>
</mat-tab-group>

